<div class = "steps">
  <app-journey-detail></app-journey-detail>
</div>

<div class = "content">
  <div *ngIf="(index$|async) >= 0 && (step$|async) && (journey$|async)" [ngStyle]="{ marginLeft: '50px'}">
    <p>

      {{(step$|async).steps[(index$|async)].title}}
    </p>
    <div [innerHTML]="(step$|async).steps[(index$|async)].sections">  </div>
    <div *ngFor="let root of (journey$|async).sections">
      <div *ngFor="let r of root.sections">
        <div *ngIf="r.title == (step$|async).steps[(index$|async)].title && r.sections.length > 0">
          <div [innerHTML]="(step$|async).steps[(index$|async)+1].sections">
            <div [innerHTML]="(step$|async).steps[(index$|async)+1].sections.sections">  </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <button class = "buttonleft buttondesign">Previous</button>
  <button class = "buttonright buttondesign">Next </button>
</div>  


