<div>
<h2>Journey-Details</h2>
<div *ngIf="selectJourney()">
Id: {{journeyId}} <br>
Title: {{title}}
  <p>Amount of steps: {{amountSteps}}</p>
  <p>Finished yet: {{isJourneyFinished}}</p>
  <p *ngFor="let step of steps ">Journey Step ID: {{step.id}} <br> Content: {{step.content}}</p>
</div>
<p>
  <button (click)="showOverview()"> Start Journey </button>
</p>
<router-outlet></router-outlet>
<!--<button *ngIf="!isFirstStep()" type="button" (click)="goPrevious()" >< Previous</button> -->
<!-- <button *ngIf="!isLastStep()" type="button" (click)="goNext()">Next ></button> -->